
.SignUp .form-boxS {
    position: relative;
    width: 500px;
    height: 550px;
    background: rgba(0, 0, 0, 0.1); /* Semi-transparent background */
    border: none;
    border-radius: 20px;
    backdrop-filter: blur(15px) brightness(80%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Ensure content is centered vertically */
    padding: 20px;
}
.SignUp .Signin {
    color: #fff;
    text-align: center;
}
.SignUp .Signin h2{
    font-size: 2em;
}
.SignUp .Signin .inputbox {
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}
.SignUp .Signin .inputbox label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: 0.5s;
}
.SignUp .Signin input:focus~label,
.SignUp .Signin input:valid~label {
    top: -5px;
}
.SignUp .Signin .inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: #fff;
}
.SignUp .Signin .inputbox ion-icon {
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;
}

.SignUp .Signin .forget {
    margin: -10px 0 17px;
    font-size: 0.9em;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.SignUp .Signin .forget label input {
    margin-right: 3px;
}

.SignUp .Signin .forget a {
    color: #fff;
    text-decoration: none;
}

.SignUp .Signin .forget a:hover {
    text-decoration: underline;
}

.SignUp .Signin .Btn {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background-color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    margin-bottom: 2em;
    color: #000;
}
@media screen and (max-width: 480px) {
    .Signin .form-box {
        width: 100%;
        border-radius: 0px;
    }
}
