.BookDetailsView {
  box-sizing: border-box;
  width: 90%;
}

.BookDetailsView .bookdet {
  background-color: rgba(0, 0, 0, 0.436);
  backdrop-filter: blur(15px) brightness(80%);
  border-radius: 10px;
  margin: auto;
  width: 850px;
}

/* .BookDetailsView .datadisplay{
    display: flex;
    justify-content: center;
    align-items: center;
} */


.BookDetailsView .card {
  background: rgb(44, 44, 44);
  font-family: "Courier New", Courier, monospace;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
  /* position: relative; */
  /* left: 8px; */
  top: 30px;
  width: 800px;
  box-shadow: 0 5px 10px 0 rgba(241, 174, 236, 0.2), 0 8px 25px 0 rgba(197, 187, 198, 0.5);
}

.BookDetailsView .card__title {
  color: white;
  font-weight: bold;
  height: 30px;
  padding: 5px 5px;
  border-bottom: 1px solid rgb(167, 159, 159);
  font-size: 1.2rem;
}

.BookDetailsView .card__data {
  font-size: 0.9rem;
  display: flex;
  height: 490px;
  justify-content: space-between;
  border-right: 1px solid rgb(203, 203, 203);
  border-left: 1px solid rgb(203, 203, 203);
  border-bottom: 1px solid rgb(203, 203, 203);
  text-align: center;
}

.BookDetailsView .card__right {
  width: 30%;
  /* border-right: 1px solid rgb(203, 203, 203); */

  text-align: center;
}

.BookDetailsView .card__left {
  width: 60%;
  /* font-family: ; */
  font-weight: 530;
  font-size: medium;
  text-align: center;
}

.BookDetailsView .item {
  padding: 3px 0;
  height: 38px;
  /* border-bottom: 1px solid rgb(167, 159, 159); */
  /* background-color: white; */
  align-items: center;
  text-align: center;
  color: white;
  background-color: transparent;
}

.BookDetailsView .card__right .item {
  padding-left: 3em;
}

.BookDetailsView .card__left .item {
  padding-right: 0.8em;
}

.BookDetailsView .item:nth-child(even) {
  /* background: rgb(234, 235, 234); */
  background-color: rgb(39, 33, 33);
}

.BookDetailsView button {
  position: relative;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  border-radius: 50px;
  /* background-color: hsl(256, 46%, 84%); */
  /* border: solid 4px hsl(50deg 100% 50%); */
  font-family: inherit;
}

.BookDetailsView .default-btn,
.hover-btn {
  background-color: hsl(201, 48%, 50%);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 5px;
  border-radius: 50px;
  font-size: 10px;
  font-weight: 500;
  text-transform: uppercase;
  transition: all .3s ease;
}

.BookDetailsView .hover-btn {
  position: absolute;
  inset: 0;
  background-color: hsl(255, 65%, 66%);
  transform: translate(0%, 100%);
}

.BookDetailsView .default-btn span {
  color: hsl(0, 0%, 100%);
}

.BookDetailsView .hover-btn span {
  color: hsl(50deg 100% 50%);
}

.BookDetailsView button:hover .default-btn {
  transform: translate(0%, -100%);
}

.BookDetailsView button:hover .hover-btn {
  transform: translate(0%, 0%);
}

/* .edit-button {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: rgb(26, 23, 23);
  border: none;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0px 0px 20px rgba(55, 53, 53, 0.164);
  cursor: pointer;
  overflow: hidden;
  position: relative;
  text-decoration: none !important;
}

.edit-svgIcon {
  width: 17px;
  transition-duration: 0.3s;
}

.edit-svgIcon path {
  fill: white;
} */

/* .edit-button:hover {
  width: 120px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: rgb(255, 69, 69);
  align-items: center;
} */

/* .edit-button:hover .edit-svgIcon {
  width: 20px;
  transition-duration: 0.3s;
  transform: translateY(60%);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.edit-button::before {
  display: none;
  content: "Edit";
  color: white;
  transition-duration: 0.3s;
  font-size: 2px;
}

.edit-button:hover::before {
  display: block;
  padding-right: 8px;
  font-size: 13px;
  opacity: 1;
  transform: translateY(0px);
  transition-duration: 0.3s;
} */

.BookDetailsView .Btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background: rgb(255, 135, 65);
  background: linear-gradient(250deg,
      rgba(255, 135, 65, 1) 15%,
      rgba(255, 65, 65, 1) 65%);
}

/* plus sign */
.BookDetailsView .sign {
  width: 100%;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.BookDetailsView .sign svg {
  width: 17px;
}

.BookDetailsView .sign svg path {
  fill: white;
}

/* text */
.BookDetailsView .text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: 0.3s;
}

/* hover effect on button width */
/* .Btn:hover {
  width: 125px;
  border-radius: 40px;
  transition-duration: 0.3s;
} */

.BookDetailsView .Btn:hover .sign {
  width: 30%;
  transition-duration: 0.3s;
  padding-left: 20px;
}

/* hover effect button's text */
.BookDetailsView .Btn:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: 0.3s;
  padding-right: 10px;
}

/* button click effect*/
.BookDetailsView .Btn:active {
  transform: translate(2px, 2px);
}

.BookDetailsView .input-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  position: relative;
}

.BookDetailsView .input {
  border-style: none;
  height: 40px;
  width: 0px;
  padding: 2px;
  outline: none;
  border-radius: 30%;
  transition: .3s ease-in-out;
  background-color: black;
  box-shadow: 0px 0px 5px #0e0e0e;
  padding-right: 40px;
  color: #fff;
}

.BookDetailsView .input::placeholder,
.input {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 17px;
}

.BookDetailsView .input::placeholder {
  color: whitesmoke;
}

.BookDetailsView .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 10px;
  cursor: pointer;
  width: 80px;
  height: 80px;
  outline: none;
  border-style: none;
  border-radius: 50%;
  pointer-events: painted;
  background-color: transparent;
  transition: .5s linear;
}

.BookDetailsView .icon:focus~.input,
.input:focus {
  box-shadow: none;
  width: 450px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 3px solid #7e4fd4;
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.BookDetailsView .cssbuttons-io-button {
  display: flex;
  position: relative;
  top: 50px;
  left: 1408px;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: white;
  background: #ad5389;
  background: linear-gradient(0deg, rgba(20, 167, 62, 1) 0%, rgba(102, 247, 113, 1) 100%);
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #10823098;
  letter-spacing: 0.05em;
  border-radius: 20em;
}

.BookDetailsView .cssbuttons-io-button svg {
  margin-right: 6px;
}

.BookDetailsView .cssbuttons-io-button:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #0a5f2298;
}

.BookDetailsView .cssbuttons-io-button:active {
  box-shadow: 0 0.3em 1em -0.5em #14a73e98;
}